body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    background-image: url('concrete_seamless.png');
    background-color: #f1f1f1;
    font-size: 1rem;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0;
  }

  .nav_item {
    margin: 0;
    padding: 0.25rem 0.25rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000FF;
  }
  
  .nav_item a {
    padding: 0.25rem;
    color: #0000FF;
  }

  .nav_item a:hover, a:focus{
    color: -webkit-link;
    color: #0000FF;
  }

  @keyframes logo-grow {
    from {
      width: 25px;
      opacity: 0;
    }
    to {
      width: 475px;
      opacity: 1;
    }
  }
  
  h1 {
    animation: logo-animation 5s forwards;
  }

  .pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;;
  }
  
  .card {
    margin: 1rem;
    background: #fff;
    border-radius: 50px 50px 0 0;
    padding: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex: 0 1 450px;
  }

  .card h3 {
    background: #288088;
    border-radius: 50px 50px 0 0;
    padding: 1.5rem 32rem 1.5rem 32rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
  }
  
  .card button {
    background: #288088;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
  }

  .card > ul {
    width: 100%;
    margin: 0;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
  }
  
    @media (min-width: 900px) {
        header{
            flex-direction: row;
            justify-content: space-between;
            position: sticky;
            top: 0;
            z-index: 10;
        }

        .nav {
            display: flex;
            justify-content: flex-end;
        }

        .nav_item {
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin: 0;
            display: inline;
        }

        .pricing {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        .card {
            margin: auto;
            flex: 0 1 275px;
            height: auto;
        }

        .card h3{
            padding-right: 40rem;
        }

        .gallery {
            justify-content: center;
        }

        .gallery img {
            width: calc(33.333% - 2rem); 
    }    
}

    @media (prefers-reduced-motion: reduce) {
        h1 {
          animation: none;
        }
    }

@media print{
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: none;
        background-color: #f1f1f1;
    }

    nav, .nav_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 1em;
    }

    .pricing {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .card {
        align-items: baseline;
        flex: 0 1 275px;
        height: auto;
    }
    
    .gallery {
        display: none;
    }


    .card::before{
        content: "\1F44D";
        display: block;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    body > header {
        position: fixed;
        top: 0;
        width: 100%;
    }
}